html, body {
  margin: 0;
  padding: 0;
  font-family: Ubuntu,"Helvetica Neue",Arial,Helvetica,sans-serif;
  font-size: 20px;
  color: #ffffff;
  background: #002F47;
}

h1,h2,h3 {
  font-weight: normal;
}
